<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="fencing-search-service-4vrfugjhxoni6" />
      <add key="SearchServiceApiKey" value="487A33FB6570CBD94C1CD1139598CD38" />
      <add key="SearchServiceQueryKey" value="2F4D7E26E1CAD9ECB27BE4512F7A669E" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="cae9edede99645b8ad399840a5e1e393" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fencing4vrfugjhxoni6;AccountKey=H8pq0t1362hkNmT+UVn25xZVFaZEnTxjKyNE+lUz3qeEAQGCPrLdU2iSweUoNa6NSJu5sadRnjvUMAv6HOmguQ==;EndpointSuffix=core.windows.net" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="fencing-site-4vrfugjhxoni6" />
      <add key="AzureWebAppUsername" value="$fencing-site-4vrfugjhxoni6" />
      <add key="AzureWebAppPassword" value="G20WjQBLs5itmbynpM55xqsopDfoxqDCWoWop5uPwaFyDKfSEEZgL5twbAbq" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="fencing-function-app-4vrfugjhxoni6" />
      <add key="AzureFunctionUsername" value="$fencing-function-app-4vrfugjhxoni6" />
      <add key="AzureFunctionPassword" value="S0XQM1wnb1gfGE3F8pek0QpNzTQx3iaFGYBQjnurZkRqZtFD6rZzvJ0v0qlx" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="FencingFilesBlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fencing4vrfugjhxoni6;AccountKey=H8pq0t1362hkNmT+UVn25xZVFaZEnTxjKyNE+lUz3qeEAQGCPrLdU2iSweUoNa6NSJu5sadRnjvUMAv6HOmguQ==;EndpointSuffix=core.windows.net" />
      <add key="FencingFilesBlobContainerName" value="fencingfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="fencingdatasource" />
      <add key="IndexName" value="fencingindex" />
      <add key="SkillsetName" value="fencingskillset" />
      <add key="IndexerName" value="fencingindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>